<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">
<head>
  <!--main block here , to be extended by different templates (title and meta desc)-->
  {% block meta %}
  {% endblock %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default rounded borders and increase the bottom margin */
    .navbar {
      margin-bottom: 50px;
      border-radius: 0;
    }

    /* Remove the jumbotron's default bottom margin */
     .jumbotron {
      margin-bottom: 0;
    }

    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>
<body>
<!--footer block here-->
{% include 'Pages/header.html' %}
{% block header %}
{% endblock %}

<!--main block here , to be extended by different templates (main view)-->
{% block content %} {% endblock %}

<br><br>
<!--footer block here-->
{% include 'Pages/footer.html' %}
{% block footer %}
{% endblock %}


</body>
</html>
