{% extends 'Pages/basePage.html' %}

{% block meta %}
  <title>{{pageTitle}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
      {% for product in products%}
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">{{product.title}}</div>
        <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">{{product.desc}}</div>
      </div>
    </div>
      {% endfor %}
  </div>
</div>
<br>
{% endblock %}
